<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/example-1']"
        routerLinkActive="link-active">Example 1
      </a>
      <a
        mat-list-item
        [routerLink]="['/example-2']"
        routerLinkActive="link-active">Example 2
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="header">RxJS Operators</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet> 
  </mat-sidenav-content>
</mat-sidenav-container>
